body {
    color: aliceblue;
    font-family: Verdana, serif;
    font-size: 15px;
    text-align: center;
    background: #193344;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    flex-direction: column;
}

.main_div {
    width: 60%;
    border: 2px solid #f1f1f1;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
}

.btn {
    color: #041123;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f0ffb5;
    transition: 0.4s;
    border: #041123;
    font-weight: 600;
}

.btn:hover {
    color: #f0ffb5;
    background-color: #041d47;
}
